$background_color: black;
$font_color: white;
$card_border_radius: 10px;
$font_family: "Roboto";

/*
$color: (
    'backgaround-color':black,
    'font-color': white,
    'accent-color': rgb(67, 28, 130)); 


$radius: (
    'card-radius': 10px,
    'btn-radius': 4px,);*/